.App {
  min-height: 100vh;
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
}

header {
  text-align: center;
  font-weight: bolder;
  font-size: 70px;
  padding: 70px;
  color: white;
  background-image: url("spice1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background-color: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}

.recipes {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
